@using FinacialPortal2.Models
@using FinacialPortal2.Helpers
@using Microsoft.AspNet.Identity;


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var db = new ApplicationDbContext();
    var RoleHelper = new RoleHelper();

    var userId = User.Identity.GetUserId();
    var user = db.Users.Find(userId);
    var houseid = user.HouseholdId;

}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">

                    <!--TOP DASH -->
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col-5 col-md-4">
                                        <div class="icon-big text-center icon-warning">
                                            <i class="material-icons">attach_money</i>
                                        </div>
                                    </div>
                                    <div class="col-7 col-md-8">
                                        <div class="numbers">
                                            <p class="card-category">Checkings</p>
                                            <p class="card-title">

                                            <p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer ">
                                <hr>
                                <div class="stats">
                                    <i class="fa fa-calendar-o"></i> @Html.ActionLink("Manage Accounts", "Index", "BankAccounts")
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col-5 col-md-4">
                                        <div class="icon-big text-center icon-warning">
                                            <i class="" material-icons">money</i>
                                        </div>
                                    </div>
                                    <div class="col-7 col-md-8">
                                        <div class="numbers">
                                            <p class="card-category">Savings</p>
                                            <p class="card-title">

                                            <p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer ">
                                <hr>
                                <div class="stats">
                                    <i class="fa fa-calendar-o"></i> @Html.ActionLink("Manage Accounts", "Index", "BankAccounts")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card card-plain">
                            <div class="card-header card-header-icon card-header-rose">
                                <div class="card-icon">
                                    <i class="material-icons">people</i>
                                </div>
                                <h4 class="card-title mt-0"> Users in House</h4>
                                <p class="card-category"></p>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Position</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var users in RoleHelper.ListUsersOnHouse(houseid))
                                            {
                                                <tr>
                                                    <td>@users.FirstName</td>
                                                    <td>@RoleHelper.ListUserRoles(users.Id).FirstOrDefault()</td>
                                                </tr>

                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end content-->
            </div>
            <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
    </div>
    <!-- end row -->
</div>
@section Scripts{}
